/** Views **/ 
.container {
	text-align: center !important;
    background-color: rgb(243, 243, 226);
    min-height: 100vh;
}

p{
	margin-top: 20px;
	font-size: 30px;
}

.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
} 

/** Room **/
.container-fluid{
	text-align: center !important;
    background-color: black;
    min-height: 100vh;
    
}
#left {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
#right{
    background-color: #242324;
    border-left: 1px solid #3D3D42;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#main__controls {
    background-color: #1C1E20;
    color: #D2D2D2;
    padding: 5px;
    min-width: 80px;
}   

#main__mute_button, #main__video_button, #leave_control__button, #control__button {
    cursor: pointer;
}

#main__mute_button, #main__video_button, #leave_control__button, #control__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

#main__mute_button, #main__video_button, #leave_control__button, #control__button:i {
    font-size: 24px;
}

.main__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    text-align: left;
    flex-grow: 1;
    overflow-y: auto;
    min-height: 85vh;
}

.messages{
    color: white;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    background-color: #1C1E20;
    color: #D2D2D2;
}

.main__message_container input {
    background-color: transparent;
    border: none;
    color: white;
    
}

#leave_control__button {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}

a.one:link, a.one:visited {
    color: white;
    text-decoration:none;
  }
  
  a.one:link:active, a.one:visited:active {
    color: white;
  }